
.btn-labeled {
    display: inline-block;
    align-items: center;
    padding: 0.4rem 0.4rem;
    color: white;
    border: none;
    border-radius: 0.25rem;
    text-decoration: none;
    background-color: #2264d4;
    cursor: pointer;
    background-image: linear-gradient(#2264d4, #1b4ea3);
}

    .btn-labeled:focus,
    .btn-labeled:hover {
        background: rgb(0, 101, 255);
        text-decoration: inherit;
        transition-duration: 0s, 0.15s;
        color: white;
    }

        .btn-labeled:hover .btn-label {
            background-color: rgb(0, 83, 210);
        }

.btn {
    margin-bottom: 40px;
}
.showHover::after {
    content: attr(data-hover);
    position: absolute;
    top: calc(-30px - 100%);
    left: 0;
    background: whitesmoke;
    color: midnightblue;
}
